:root {
    --text-color: #383124;
    --link-color: #4a76ee;
    --background-color: #f1f1ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* Section 1: Bio */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 4px;
    margin-bottom: 100px;
}

.hero-section .text h2 {
    font-size: 45px;
    color: var(--text-color);
}

.hero-section .text {
    flex: 5;
    color: var(--text-color);
}

.hero-section .text .links {
    margin-top: 10px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
 
.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: center;
}

.hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
}

/* SECTION 2: Extracurriculars */
.extracurriculars-section {
    padding: 40px 50px;
    margin-bottom: 100px;
}

.extracurriculars-section h2 {
    text-align: center;
    font-size: 35px;
    color: var(--text-color);
}

.extracurriculars-section .text {
    text-align:center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.extracurriculars-section h3 {
    text-align: center;
    font-size: 25px;
    color: var(--text-color);
    margin: 20px 0px;
}

.extracurriculars-section h4 {
    text-align:center;
    margin-bottom: 5px;
    color: var(--text-color);
}

.extracurriculars-section p {
    text-align:center;
    color: var(--text-color);
}

.extracurriculars-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.extracurriculars-section .cell {
  display: flex;
    flex-direction: column;
    align-items: center;

    width: 450px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
  
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.extracurriculars-section .cell:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

/* GRADIENT ANIMATION */
.image-container {
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: inherit;
}

.image-container img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.image-container:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--text-color), transparent);
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.image-container:hover .overlay {
    bottom: 0;
    opacity: 1;
}

/* SECTION 3: Design */
.design-section {
    padding: 40px 50px;
    margin-bottom: 100px;
}

.design-section h2 {
    text-align: center;
    font-size: 35px;
    color: var(--text-color);
}

.design-section h3 {
    text-align: center;
    font-size: 25px;
    color: var(--text-color);
    margin: 20px 0px;
}

.design-section .text {
    text-align:center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.design-section .posters, .logos, .shirts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.design-section .posters img {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
}

.design-section .logos img {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    height: auto;
}

.design-section .shirts img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    padding: 10px;
}

/* SECTION 4 - Posting */
.posting-section {
    background-color: var(--text-color);
    color: var(--background-color);
    text-align: center;
    padding: 30px 0;
    position: relative;
    width: 100%;
    margin: 0;
}

@media (max-width: 850px) {
    /* SECTION 1: Bio */
    .hero-section .text h2 {
        font-size: 35px;
    }

    /* SECTION 3: Designs */
    .design-section .posters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    }
}

@media (max-width: 740px) {
    /* SECTION 1: Bio */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section img {
        width: 300px;
    }

    /* SECTION 3: Designs */
    .design-section .shirts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    }
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* SECTION 1: Bio */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text {
        font-size: 30px;
    }

}
